*.opensdf
*.sdf
*.user
*.suo
*.ssh/
ipch/
Debug/
Release/
/3Party
*.o
*.o.*
*.lo
*.la
.deps/
.libs/
/compile
/depcomp
/install-sh
/ltmain.sh
/missing
/stamp-h1
/tests/Makefile
/tests/Makefile.in
/bwsdk/Makefile
/bwsdk/Makefile.in
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.ac
/Makefile
/Makefile.in
/Makefile.am
/MonitorServer/Makefile
/MonitorServer/Makefile.in
/MonitorServer/MonitorServer
/NameServer/Makefile
/NameServer/Makefile.in
/NameServer/NameServer
/RecordServer/Makefile
/RecordServer/Makefile.in
/RecordServer/RecordServer
/RobotServer/Makefile
/RobotServer/Makefile.in
/RobotServer/RobotServer
/SceneServer/Makefile
/SceneServer/Makefile.in
/SceneServer/SceneServer
/SessionServer/Makefile
/SessionServer/Makefile.in
/SessionServer/SessionServer
*.swp
/aclocal.m4
/docs/Doxyfile
/docs/Makefile
/docs/Makefile.in
/libtool
/BillServer/BillServer
/BillServer/Makefile
/BillServer/Makefile.in
/ChangeServer/Makefile
/ChangeServer/Makefile.in
/ChangeServer/ChangeServer
/GMServer/GMServer
/GMServer/Makefile
/GMServer/Makefile.in
/GatewayServer/GatewayServer
/GatewayServer/Makefile
/GatewayServer/Makefile.in
/LoginServer/LoginServer
/LoginServer/Makefile
/LoginServer/Makefile.in
/ScenesServer/ScenesServer
/ScenesServer/Makefile
/ScenesServer/Makefile.in
/SuperServer/SuperServer
/SuperServer/Makefile
/SuperServer/Makefile.in
/WebGateServer/Makefile
/WebGateServer/Makefile.in
/WebGateServer/WebGateServer
tags
*.swl
*.swm
*.swn
*.swo
/tmp
/config

/config.xml
/loginServerList.xml

test-driver
stamp-h2
*.pb.cc
*.pb.h
bwsdk/
common/
platcommon/
servercommon/
bwservercommon/Makefile
bwservercommon/Makefile.in
bwservercommon/Makefile.am
bwusercommon/Makefile
bwusercommon/Makefile.in
bwusercommon/Makefile.am
gbuffer/Makefile
Dockerfile
.release
.gitconfig
data/
